body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
}

.challenge {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  padding: 10px;
}

.play {
  /* border: 1px solid #325288; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.challenge > span {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  /* border: 1px solid #325288; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  color: #325288;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button {
  position: absolute;
}

.pass {
  background: linear-gradient(to left, #56ab2f, #a8e063);
  color: white;
}

.pass > i {
  color: white;
}

._miss {
  background: linear-gradient(to left, #eb3349, #f45c43);
  color: white;
}

._miss > i {
  color: white;
}

.vibrate {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.timer {
  width: 200px;
  height: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  visibility: hidden;
  /* border: 1px solid #4e1f9d; */
}

.target {
  width: 8px;
  height: 20px;
  background: linear-gradient(to left, #c33764, #1d2671);
  position: absolute;
  left: 80%;
  visibility: hidden;
}

/* .timer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 28px;
  height: 100%;
  background-color: black;
}

.timer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 202px;
  width: 30px;
  height: 100%;
  background-color: black;
} */

.movementBall {
  color: #325288;
  position: absolute;
  top: 15%;
  left: -5%;
  transform: translate(-50%, -50%);
  animation-name: displaceContent;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes displaceContent {
  from {
    transform: translateX(-0.5em);
  }

  to {
    transform: translateX(13em);
  }
}

.result {
  text-transform: uppercase;
  font-family: "Permanent Marker", cursive;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 10px;
}

.perfect {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.miss {
  background: linear-gradient(to right, #eb3349, #f45c43);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.good {
  background: linear-gradient(to right, #56ab2f, #a8e063);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cool {
  background: linear-gradient(to right, #4ca1af, #c4e0e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fade-in {
  opacity: 1;
  animation: fadeInOpacity 0.8s linear 0.5s 1 normal forwards;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.point {
  font-size: 3rem;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Readex Pro", sans-serif;
  letter-spacing: 5px;
  color: #f05454;
  visibility: hidden;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.progressbarWrapper {
  height: 30px;
  width: 500px;
  display: block;
  margin: auto;
  margin-top: 80vh;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  z-index: 2000;
  background-color: #1a374d;
}

#loading {
  display: block;
  height: 100%;
  width: 0px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  font-size: 15px;
  text-align: center;
  color: red;
}

.transparent {
  display: none;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  top: 0;
}

.input-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.webflow-style-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.webflow-style-input > input {
  width: 300px;
  height: 30px;
  border: 1px solid #fff8f3;
  background-color: #0f0e0e;
  padding-left: 15px;
  color: white;
}

.webflow-style-input > button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #fff8f3;
}

.webflow-style-input > button:hover {
  cursor: pointer;
}

.choose-stage {
  position: absolute;
  top: 61%;
  left: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.prev-next-stage {
  color: black;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-next-stage > i:hover {
  cursor: pointer;
}

.prev-next-stage > img {
  width: 6rem;
  height: 6rem;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.choose-character {
  position: absolute;
  top: 60%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.next-btn {
  text-align: center;
  padding: 5px;
  width: 50px;
  border: 1px solid white;
  color: black;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.next-btn:hover {
  background-color: white;
  color: black;
}

.prev-next-character {
  color: black;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-next-character > i:hover {
  cursor: pointer;
}

.prev-next > i {
  cursor: pointer;
}

.music-sidebar {
  position: absolute;
  top: 20px;
  width: 25%;
  max-width: 300px;
  height: 90%;
  color: black;
  visibility: hidden;
}

.music-sidebar > input {
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid black; */
  width: 100%;
  margin-left: 5px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 5px 5px;
}

.music-sidebar > input:focus {
  transition: all 0.5;
  outline: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, #cc2b5e, #753a88);
  border-image-slice: 1;
}

.video-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.video {
  width: 100%;
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 5px;
  max-width: 260px;
  max-height: 130px;
}

.video > img {
  width: 40%;
}

.video-content {
  margin-left: 5px;
  font-size: 0.8rem;
}

.video:hover {
  cursor: pointer;
}

.equalizer {
  display: flex;
  justify-content: center;
  align-items: "flex-end";
  padding-top: 150;
  padding-bottom: 150;
  height: 15px;
  width: 25px;
}

.equalizer > span {
  width: 3px;
  height: 15px;
  background-color: #3498db;
  margin: 1px;
}

@keyframes go-up-down {
  0% {
    height: 0px;
  }

  100% {
    height: 15px;
  }
}

.col-1 {
  animation: go-up-down 0.7s infinite alternate;
}

.col-2 {
  animation: go-up-down 0.6s infinite alternate;
}

.col-3 {
  animation: go-up-down 0.9s infinite alternate;
}

.col-4 {
  animation: go-up-down 0.3s infinite alternate;
}

.col-5 {
  animation: go-up-down 0.4s infinite alternate;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#input-name-area {
  visibility: hidden;
}

.game-over {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to left, #eecda3, #ef629f);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 300px;
  height: 50%;
  border-radius: 6px;
  color: white;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 5px;
}

.drop-down {
  animation: drop-down 0.8s linear 0.5s 1 normal forwards;
}

.result-score {
  margin-top: 80px;
}

.button-group {
  display: flex;
  max-width: 200px;
  font-family: "Dongle", sans-serif;
  letter-spacing: 1px;
  align-items: center;
  margin-top: 50px;
  font-size: 1.3rem;
}

.button-group > #replay:hover {
  background-color: white;
  color: #ef629f;
  cursor: pointer;
}

.button-group > #back-room:hover {
  background-color: white;
  color: #ef629f;
  cursor: pointer;
}

.button-group > #replay {
  border: 1px solid white;
  padding: 1px 5px;
}

.button-group > #back-room {
  margin-left: 5px;
  border: 1px solid white;
  padding: 1px 5px;
}

.fade-out {
  animation: fade-out 0.8s linear 0.5s 1 normal forwards;
}

@keyframes drop-down {
  34% {
    top: 53%;
  }
  45% {
    top: 47%;
  }
  56% {
    top: 52%;
  }
  67% {
    top: 48%;
  }
  78% {
    top: 51%;
  }
  89% {
    top: 49%;
  }
  100% {
    top: 50%;
  }
}

@keyframes fade-out {
  100% {
    top: -30%;
  }
}
